html,
body {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background: #f3f3f3;
}

.container {
  width: 80%;
  max-width: 420px;
  margin: 50px auto;
  padding: 1.3em;

  border-radius: 0.75em;
}
p {
  font-size: 0.9em;
}

.rb {
  height: 50px;
  line-height: 38px;
  text-align: center;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 0.3em;
}

.tab {
  display: inline-block;
  position: relative;
  width: 20%;
  font-size: 40px;
}

.txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5em;
  color: #ffffff;
}

.spot {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  cursor: pointer;
  transition: ease 0.5s;
}

.activeTab .spot {
  background: rgba(0, 0, 0, 0.35);
  border: 2px solid rgb(253, 0, 51, 0.6);
}

.button-box {
  padding: 10px 0;
  text-align: center;
}

button {
  display: inline-block;
  width: 80%;
  margin-top: 1.2em;
  padding: 1em;
  max-width: 220px;
  font-size: 0.9em;
  color: #fd0033;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  background: white;
  border: none;
  outline: none;
  border-radius: 5em;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
  color: #fff;
  background-color: #fd0033;
}

.nevidljiv {
  display: none;
}

.centrirani {
  margin-left: 36rem;
}
